[TBD]: /company/team/

<%= team_member_links.join("\n") %>

[Gerardo Lopez Fernandez]: /company/team/#glopezfernandez
[Brad Sevy]: /company/team/#bradsevy
[John Skarbek]: /company/team/#skarbek
[Christopher Mutua]: /company/team/#cmutu
[Sam White]: /company/team/#sam.white
[Camellia Yang]: /company/team/#cam.x
[Rebecca "Becka" Lippert]: /company/team/#beckalippert
[Alex Martin]: /company/team/#alex_martin
[Sokunrotanak Srey]: /company/team/#rotanak
[DJ Mountney]: /company/team/#twk3
[Chris Kaburu]: /company/team/#ckaburu
[Axil]: /company/team/#axil
[Paul Phillips]: /company/team/#pjphillips
[Asmaa Hassan]:  /company/team/#asmaa.hassan
[Cynthia Ng]: /company/team/#cynthia
[Veethika Mishra]: /company/team/#veethika
[Tom McAtee]: /company/team/#rrelax
[Tim Noah]: /company/team/#timnoah
[Graham Bachelder]: /company/team/#grrbam

[Development Department]: /handbook/engineering/development/
[Quality Department]: /handbook/engineering/quality/
[Distribution Team]: /handbook/engineering/development/enablement/systems/distribution/
[Reliability Engineering]: /handbook/engineering/infrastructure/team/reliability/
[Infrastructure Department]: /handbook/engineering/infrastructure/
[Security Department]: /handbook/security/
[UX Department]: /handbook/product/ux/
[Gitter]: /handbook/engineering/development/dev/gitter/
[Technical Writing]: /handbook/product/ux/technical-writing/
[Delivery Team]: /handbook/engineering/infrastructure/team/delivery/
[Product Department]: /handbook/product/
[Sales Department]: /handbook/sales/
[Marketing Department]: /handbook/marketing/
[Alliances Department]: /handbook/alliances/
[Finance Department]: /handbook/finance/
[Customer Success]: /handbook/customer-success/
[Engineering Department]: /handbook/engineering/
[People Operations]: /handbook/people-group/
[Customer Support Department]: /handbook/support/
[AutoDevOps and Kubernetes Group]: /handbook/product/categories/#auto-devops--kubernetes-group
[Data Team]: /handbook/business-technology/data-team/

[Pages]: /stages-devops-lifecycle/pages/
[Geo]: /features/gitlab-geo/
[Continuous Integration (CI)]: /features/continuous-integration/
[Continuous Delivery (CD)]: /features/continuous-integration/
[Subgroups]: /features/subgroups/
[Service Desk]: /stages-devops-lifecycle/service-desk/

[#docs Slack channel]: https://gitlab.slack.com/archives/C16HYA2P5
